/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3abd50;
}

.container-login {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-login h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.container-login img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}

.container-login form {
    display: flex;
    flex-direction: column;
}

.container-login label {
    margin-top: 1rem;
    text-align: left;
    color: #666;
}

.container-login input[type="text"],
.container-login input[type="password"] {
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.container-login .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s;
}

.container-login .button:hover {
    background-color: #45a049;
}

.container-login p {
    margin-top: 1rem;
    color: #666;
}

.container-login a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

.container-login a:hover {
    color: #388e3c;
}

